/*this is CSS comment*/

body {
    background-color: rgb(214, 15, 151);    
}

/* his will apply all styles to all images in the document. */
only style one image with the class "batman-image" */
.batman-image {
    width: 200px;
    height: auto;
    border: 5px solid black;
    border-radius: 10px;
}           
img {
    width: 200px;
    height: auto;
    border: 2px solid black;
    border-radius: 5px;
